


<h1>choose sample</h1>

<h4>
    <a href="#" routerLink="/sample1">sample 1</a>
    <a href="#" routerLink="/sample2">sample 2</a>
    <a href="#" routerLink="/sample3">sample 3</a>
    <a href="#" routerLink="/sample4">sample 4</a>
    <a href="#" routerLink="/sample5">sample 5</a>
</h4>


<router-outlet></router-outlet>



<!-- <br>
<button (click)="sendCategory()">category 1</button>

<div *ngIf="products$ | async as products">
    <button type="button" *ngFor='let product of products'>
        {{product.id}}-({{product.name}})
    </button>
</div> -->