
/* block */
.container{
    padding: 1em;
    background: #9494b8;
}

.button{

}

.button--state-success{

}

.button--state-danger{

}

/*----------------------------------------------------------*/
/* block */
.card{

}

/* element */
.card__picture{

}
.card__title{

}
.card__description{

}
.card__button{

}

/* user */
.user{

}
.user__label{

}
.user__select{

}
.user__option{

}


/* modifier */
.card__button--active{

}
/*product list*/
.product_list{
    background: yellow;
}
.product_list__title{

}
.product_list_item{

}


/* product detail */
.product_detail{
    background: green;
}
.product_detail__title{

}
.product_detail__row{

}
.product_detail__header{

}
.product_detail__content{

}

.container2{
    background: #6666ff;
}